<!-- banner container -->
<div class="banner-container">

    <%# index container %>
        <% if (is_home()) { %>
            <div class="banner-content full-content">
                <div class="qr_logo_pc">
                    <img id="js_logo_qr_code_img" class="qr_code_pc_img" src="https://mp.weixin.qq.com/mp/qrcode?scene=10000004&size=102&__biz=MzU4MDA0ODIxNA==&mid=2247483858&idx=1&sn=dec09f6db18192bd0876b3458aab1a5f&send_time=">
                    <p>
                        微信扫一扫 <br> 关注该公众号
                    </p>
                </div>
                <div class="weixin_logo">
                    <a href="#" data-toggle="modal" data-target="#myModal1" class="animated infinite bounceIn" style="animation-duration: 1500ms;"></a>
                </div>
                <div class="post-image" style="<%= `background-image: url(${theme.banner})` %>"></div>

                <div class="post-text">
                    <h1 class="title-wrap">
                        <%= config.title %>
                    </h1>
                    <% if (config.subtitle) { %>
                        <h2 class="title-sub-wrap">
                            <%= config.subtitle %>
                        </h2>
                        <% } %>
                </div>
            </div>
            <% } %>

                <%# archive container %>
                    <% if (is_archive()) { %>
                        <div class="banner-content full-content">
                            <div class="qr_logo_pc">
                                <img id="js_logo_qr_code_img" class="qr_code_pc_img" src="https://mp.weixin.qq.com/mp/qrcode?scene=10000004&size=102&__biz=MzU4MDA0ODIxNA==&mid=2247483858&idx=1&sn=dec09f6db18192bd0876b3458aab1a5f&send_time=">
                                <p>
                                    微信扫一扫 <br> 关注该公众号
                                </p>
                            </div>
                            <div class="weixin_logo">
                                <a href="#" data-toggle="modal" data-target="#myModal1" class="animated infinite bounceIn" style="animation-duration: 1500ms;"></a>
                            </div>
                            <div class="post-image" style="<%= page.cover ? `background-image: url(${page.cover})` : `background-image: url(${theme.banner})` %>"></div>
                            <div class="post-text">
                                <h1 class="title-wrap">归档</h1>
                                <h2 class="title-sub-wrap">共有
                                    <%= site.posts.length %> 篇文章</h2>
                            </div>
                        </div>
                        <% } %>

                            <%# category banner %>
                                <% if (is_category()) { %>
                                    <%
      var length = 0;
      site.categories.each(function (categorie) {
        if (categorie.name === page.category) length = categorie.length
      });
    %>
                                        <div class="banner-content full-content">
                                            <div class="post-image" style="<%= page.cover ? `background-image: url(${page.cover})` : `background-image: url(${theme.banner})` %>"></div>
                                            <div class="qr_logo_pc">
                                                <img id="js_logo_qr_code_img" class="qr_code_pc_img" src="https://mp.weixin.qq.com/mp/qrcode?scene=10000004&size=102&__biz=MzU4MDA0ODIxNA==&mid=2247483858&idx=1&sn=dec09f6db18192bd0876b3458aab1a5f&send_time=">
                                                <p>
                                                    微信扫一扫 <br> 关注该公众号
                                                </p>
                                            </div>
                                            <div class="weixin_logo">
                                                <a href="#" data-toggle="modal" data-target="#myModal1" class="animated infinite bounceIn" style="animation-duration: 1500ms;"></a>
                                            </div>
                                            <div class="post-text">
                                                <h1 class="title-wrap">
                                                    <%= page.category %>
                                                </h1>
                                                <h2 class="title-sub-wrap">当前分类下共有
                                                    <%= length %> 篇文章</h2>
                                            </div>
                                        </div>
                                        <% } %>

                                            <%# tag banner %>
                                                <% if (is_tag()) { %>
                                                    <%
      var length = 0;
      site.tags.each(function (tag) {
        if (tag.name === page.tag) length = tag.length
      });
    %>
                                                        <div class="banner-content full-content">
                                                            <div class="post-image" style="<%= page.cover ? `background-image: url(${page.cover})` : `background-image: url(${theme.banner})` %>"></div>
                                                            <div class="qr_logo_pc">
                                                                <img id="js_logo_qr_code_img" class="qr_code_pc_img" src="https://mp.weixin.qq.com/mp/qrcode?scene=10000004&size=102&__biz=MzU4MDA0ODIxNA==&mid=2247483858&idx=1&sn=dec09f6db18192bd0876b3458aab1a5f&send_time=">
                                                                <p>
                                                                    微信扫一扫 <br> 关注该公众号
                                                                </p>
                                                            </div>
                                                            <div class="weixin_logo">
                                                                <a href="#" data-toggle="modal" data-target="#myModal1" class="animated infinite bounceIn" style="animation-duration: 1500ms;"></a>
                                                            </div>
                                                            <div class="post-text">
                                                                <h1 class="title-wrap">
                                                                    <%= page.tag %>
                                                                </h1>
                                                                <h2 class="title-sub-wrap">当前作者共有
                                                                    <%= length %> 篇文章</h2>
                                                            </div>
                                                        </div>
                                                        <% } %>

                                                            <%# post banner %>
                                                                <% if (is_post()) { %>
                                                                    <% if (page.cover) { %>
                                                                        <div class="banner-content post-content is-post-image">
                                                                            <div class="post-image" style="<%= `background-image: url(${page.cover})` %>"></div>
                                                                            <div class="qr_code_pc">
                                                                                <img id="js_pc_qr_code_img" class="qr_code_pc_img" src="https://mp.weixin.qq.com/mp/qrcode?scene=10000004&size=102&__biz=MzU4MDA0ODIxNA==&mid=2247483858&idx=1&sn=dec09f6db18192bd0876b3458aab1a5f&send_time=">
                                                                                <p>
                                                                                    微信扫一扫 <br> 关注该公众号
                                                                                </p>
                                                                            </div>
                                                                            <div class="post-text">
                                                                                <div class="type-wrap">
                                                                                    <%- partial("../_widget/category", { class_name: "article-category", post: page }) %>
                                                                                </div>
                                                                                <h1 class="title-wrap">
                                                                                    <%= page.title %>
                                                                                </h1>
                                                                                <h2 class="title-sub-wrap">
                                                                                    <strong><%- partial("../_widget/tags", { class_name: "article-tag", post: page }) %></strong>
                                                                                    <span>发布于</span>
                                                                                    <%- partial("../_widget/date", { class_name: 'article-date', post: page, date_format: null, link: false }) %>
                                                                                </h2>
                                                                            </div>
                                                                        </div>
                                                                        <% } else { %>
                                                                            <div class="banner-content post-content no-post-image">
                                                                                <div class="qr_code_pc">
                                                                                    <img id="js_pc_qr_code_img" class="qr_code_pc_img" src="https://mp.weixin.qq.com/mp/qrcode?scene=10000004&size=102&__biz=MzU4MDA0ODIxNA==&mid=2247483858&idx=1&sn=dec09f6db18192bd0876b3458aab1a5f&send_time=">
                                                                                    <p>
                                                                                        微信扫一扫 <br> 关注该公众号
                                                                                    </p>
                                                                                </div>
                                                                                <div class="post-text">
                                                                                    <div class="type-wrap">
                                                                                        <%- partial("../_widget/category", { class_name: "article-category", post: page }) %>
                                                                                    </div>
                                                                                    <h1 class="title-wrap">
                                                                                        <%= page.title %>
                                                                                    </h1>
                                                                                    <h2 class="title-sub-wrap">
                                                                                        <strong><%- partial("../_widget/tags", { class_name: "article-tag", post: page }) %></strong>
                                                                                        <span>发布于</span>
                                                                                        <%- partial("../_widget/date", { class_name: 'article-date', post: page, date_format: null, link: false }) %>
                                                                                    </h2>
                                                                                </div>
                                                                            </div>
                                                                            <% } %>
                                                                                <% } %>

                                                                                    <%# page banner %>
                                                                                        <% if (is_page()) { %>
                                                                                            <div class="banner-content full-content">
                                                                                                <div class="qr_logo_pc">
                                                                                                    <img id="js_logo_qr_code_img" class="qr_code_pc_img" src="https://mp.weixin.qq.com/mp/qrcode?scene=10000004&size=102&__biz=MzU4MDA0ODIxNA==&mid=2247483858&idx=1&sn=dec09f6db18192bd0876b3458aab1a5f&send_time=">
                                                                                                    <p>
                                                                                                        微信扫一扫 <br> 关注该公众号
                                                                                                    </p>
                                                                                                </div>
                                                                                                <div class="weixin_logo">
                                                                                                    <a href="#" data-toggle="modal" data-target="#myModal1" class="animated infinite bounceIn" style="animation-duration: 1500ms;"></a>
                                                                                                </div>
                                                                                                <div class="post-image" style="<%= page.cover ? `background-image: url(${page.cover})` : `background-image: url(${theme.banner})` %>"></div>
                                                                                                <div class="post-text">
                                                                                                    <h1 class="title-wrap">
                                                                                                        <%= page.title %>
                                                                                                    </h1>
                                                                                                    <% if (page.subtitle) { %>
                                                                                                        <h2 class="title-sub-wrap">
                                                                                                            <%= page.subtitle %>
                                                                                                        </h2>
                                                                                                        <% } else if (page.type === "categories") { %>
                                                                                                            <h2 class="title-sub-wrap">共有
                                                                                                                <%= site.categories.length %> 个分类</h2>
                                                                                                            <% } else if (page.type === "tags") { %>
                                                                                                                <h2 class="title-sub-wrap">共有
                                                                                                                    <%= site.tags.length %> 个作者</h2>
                                                                                                                <% } else if (page.type === "links") { %>
                                                                                                                    <h2 class="title-sub-wrap">共有
                                                                                                                        <%= site.data.links.length %> 只小伙伴</h2>
                                                                                                                    <% } %>
                                                                                                </div>
                                                                                            </div>
                                                                                            <% } %>

</div>